


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: wazo;
    src: url(./assets/WanoQuin-Thin\ Free\ PU.ttf);
}


body{
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #000000;
    overflow-x: hidden;
}


/*intro*/
.intro{
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height:100vh;
    background-color: black;
    transition:1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom:150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
h1 span:nth-child(1){
    background-image:linear-gradient(43deg,#ee3211 0%,#f18c07 46%,#fded07 100%);
    font-family: wazo;
    font-size: 6rem;
    letter-spacing: 6px;
    padding:2px 20px 2px 20px;
   -webkit-background-clip: text;
   color: transparent;
    
}
h1 span:nth-child(2){
    background-image:linear-gradient(43deg,#ee3211 0%,#f18c07 46%,#fded07 100%);
    font-family: wazo;
    font-size: 4rem;
    letter-spacing: 6px;
    -webkit-background-clip: text;
   color: transparent;
}
/*intro*/


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    width:100vw;
    border-bottom: 1px solid rgba(255, 255, 255,.1);
    z-index: 2;
}
.navbar span{
    position: absolute;
    bottom: 0;
    height: 2px;
    width:50px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: cosmic 5s infinite linear;
}

@keyframes cosmic {
    0%{
        left:0;
        transform: translate(-100%);
    }
    100%{
        left: 100%;
        transform: translate(0%);
    }
}
.btn{
    color:#fff;
    font-weight: 500;
    text-transform: uppercase;
}
.btn img{
    width: 30px;
    cursor: pointer;
}
.wrapper{
    display: flex;
    position: relative;
}
section{
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

.video-section video{
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -2;
    position: relative;
    
    
    
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    font-weight: 300;
}
#logo{
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'wazo', sans-serif;

    
}
#logo img{
    width: 100px;
    height: 70px;
}

.img-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
   
}

.img{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    
}

.section{
    background-color: #141414;
    padding: 7rem;
    padding-top: 200px;
}
.boxes-container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.columns{
    display: flex;
    gap: 2rem;
    color: #fff;
    position: relative;
}

.col img{
   
    object-fit: cover;
}
.col-1{
    display: flex;
    gap: 1.5rem;
    flex: 4;
}
.box1{
    height: 80vh;
    margin-top: 100px;
}

.box1 .col-1 img:first-child{
    width: 150px;
    height: 180;
    transform: translateY(-30px);
}

.box1 .col-1 img:nth-child(2){
    width: 300px;
    height: 430px;
}
.col-3{
display: flex;
justify-content: center;
gap: 2.5rem;
flex-wrap: wrap;
flex: 5;
}
.box1 .col-3 img:first-child{
    width: 320px;
    height: 170px;
}

.box1 .col-3 img:nth-child(2){
width: 130px;
}
.box1 .col-3 img:nth-child(3){
width: 200px;
height: 150px;
}
.col-2{
    margin: auto;
    flex: 2;
}
.col-2 h1{
    font-family: wazo;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 100;
    position: absolute;
    top: 10px;
    left: 47%;
    transform: translateY(-60px);
    z-index: 100;
}

.col-2 span{
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .7;
    font-weight: 400;
}

.line{
    height: 1px;
    width: 50px;
    background-color: rgb(58, 58, 58);
    margin: 2rem 0;
}
.text-box p{
    font-size: 15px;
    line-height: 1.9;
    padding-bottom: 1rem;
    font-family: 'Lato',sans-serif;
    opacity: .7;
}
.box2 .col-1 img:first-child{
    width: 200px;
    height: 250px;
    transform: translateY(200px);
}
.box2 .col-1 img:nth-child(2){
    width: 300px;
    height: 380px;
}
.box2 .col-3 img:nth-child(1){
    width: 220px;
    height: 300px;
}
.box2 .col-3 img:nth-child(2){
    width: 180px;
    height: 200px;
}
.box2 .col-3 img:nth-child(3){
    width: 380px;
    height: 200px;
    transform: translateX(80px);
}

.box3 .col-1{
    display: flex;
    flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1){
    width: 280px;
    height: 210px;
    transform: translateX(30px);
}
.box3 .col-1 img:nth-child(2){
    width: 180px;
    height: 200px;
    margin-left: 80px;
    align-self: center;
}
.box3 .col-1 img:nth-child(3){
    width: 400px;
    height: 180px;
}
.box3 .col-1 img:nth-child(4){
    width: 250px;
    height: 280px;
    transform: translateY(-10px);
}

.box3 .col-3 img{
    padding-left: 100px;
    width: 400px;
    height: auto;
}

footer{
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-top: 1px solid rgb(255, 255, 255, .1);
    
}
footer .btn{
    text-transform: lowercase;  
}
.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'wazo', sans-serif;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}
.bg{
    font-size: 100px;
    
}
.sm{
    font-size: 35px;
    height: 40px;
}

.title span{
    position: absolute;
}

.left{
    left:-25%;
    
}
.right{
    top: 50px;
    left: 75%;
    
}
.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;letter-spacing: 12px;
    font-weight: 300;
}
.n{
    z-index: -1;
    display: flex;
    justify-content: center;
    top: 20%;
    left: 15%;
  

}

.v_container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* opacity: 0; */
    display: grid;
    grid-template-columns:2fr 1fr;
  
}
.left-side{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap:5rem
}

.tv{
    font-family: wazo;
    display: flex;
    text-transform: capitalize;
}
.bottom{
    transform: translateY(70px);
}

.text-container{
    max-width: 250px;
}

.text-container p{
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}

.right-side{

    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255,.6);
    border-radius: 50%;
    position: relative;
}
.right-side p{
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-solid.fa-arrow-right{
    transform: translateX(20px);
}

.testimonials{
    width: 100%;
    height: 600px;
    background-color: #58575615;
    display: flex;
        
    justify-content: space-between;
}

.testimonials-div{
    width: 400px;
    height: auto;
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}
.testimonials-div-img{
    width:auto;
}
.testimonials-div img{
width: 80px;
height: 80px;
border-radius: 50%;

}

.testimonials-div p{
    font-size: .8rem;
    padding: 10px;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    justify-content: space-between;
    
    
}

.testimonials h2{
    font-family: wazo;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 100;
    position: absolute;
   width: 100%;
    z-index: 100;
    padding: 50px 50px;
}

#small{
    font-size: .7rem;
    color: #8f8d8d;

}