<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0365ef1616.js" defer crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    
    <title>Digital soul</title>
    <link rel="shortcut icon" type="image/png" href="assets/logointro.png">
</head>

<body>

    <div class="intro">
        <h1 class="logo-header">
            <span class="logo">digital </span>  <span class="logo"> Soul</span>
        </h1>
    </div>


            

    
    
  
     <header>
        <nav class="navbar">
            <span></span>
            <div id="logo"><img src="./assets/DG.svg" alt=""></div>
            <ul class="menu">
                 <!-- <li><a href="/about">about</a></li>
               <li><a href="#">work</a></li>
                <li><a href="#">casting</a></li>
                <li><a href="#">contact</a></li> -->
            </ul>
            <div class="btn"> <a href="https://instagram.com/marian_piazza" target="_blanc"><img src="./assets/instagram.png" alt="instagram icon"></a> </div>
        </nav>
    </header>


   

    <div class="wrapper">

        <section class="video-section">
            <div class="video-container">
                <video src="./assets/videomusic.mp4" muted autoplay loop></video>
            </div>
            <div class="img-container">
                <img src="./assets/keyhole1.png" alt="" class="img">
            </div>
            <div class="text-content">
                <div class="img_txt">
                    <div class="title sm left">
                        <span>between</span>
                    </div>
                    <div class="title bg left">
                        <span>Dream</span>
                    </div>
                    <div class="title bg right n">
                        <span>&</span>
                    </div>
                    <div class="title bg right">
                        <span>Reality</span>
                    </div>
                </div>

                <p class="txt-bottom">
                    shots that will change you mind
                </p>
            </div>
            
            <div class="v_container">
                <div class="left-side">
                    <div class="tv">
                        <div class="bg">push</div>
                        <div class="sm">the</div>
                        <div class="bg bottom">envelope</div>
                    </div>
                    <div class="text-container">
                        <p>Marketing has become an integral part of everything we do </p>
                        <p>became competitive and Magical! the importance he has in our world is increasing.</p>
                    </div>

                </div>
                <div class="right-side">
                    <p>explore Works<i class="fa-solid fa-arrow-right"></i></p>
                </div>
            </div>
        </section>
    
    
        <section class="section">
            <div class="boxes-container">
                <div class="columns box1">
                    <div class="col col-1">
                        <img src="./assets/pic1.jpg" alt="">
                        <img src="./assets/pic2.jpg" alt="">
                    </div>
                    <div class="col-2">
                       <h1>We digitise your business</h1>
                    
                    
                    <div class="line"></div>
                    <div class="text-box">
                        <p>Do you know that in Portugal people spend an average of 7h20 using the internet,
                            of which about two hours on social networks?
                            Now imagine staying out of this opportunity.
                        </p>
                            <p>You dream. We realise.</p>
                    </div>
                    </div>
                    <div class="col col-3">
                        <img src="./assets/pic5.jpg" alt="">
                        <img src="./assets/pic4.jpg" alt="">
                        <img src="./assets/pic3.jpg" alt="">
                    </div>
                </div>
    
                <div class="columns box2">
                    <div class="col col-1">
                        <img src="./assets/pic6.jpg" alt="">
                        <img src="./assets/pic8.jpg" alt="">
                    </div>
                    <div class="col-2">
                       <h1>Marketing Soul</h1> 
                    
                    
                    <div class="line"></div>
                    <div class="text-box">
                        <p>We work with consciously, knowing how to take advantage of the opportunities that the 
                            internet offers us. We are all connected, this brings a great challenge and opportunity,
                            for those who start up, for those who already have a business 
                            and need to keep costumers.
                        </p>
                            <p></p>
                    </div>
                    </div>
                    <div class="col col-3">
                        <img src="./assets/pic7.jpg" alt="">
                        <img src="./assets/pic9.jpg" alt="">
                        <img src="./assets/pic10.jpg" alt="">
                    </div>
                </div>
                
                <div class="columns box3">
                    <div class="col col-1">
                       <a href="https://weather-app-resp.netlify.app" target="_blank"> <img src="./assets/p1.png" alt=""></a>
                        <a href="https://venerable-cactus-914f0e.netlify.app" target="_blank"><img src="./assets/p2.png" alt=""></a>
                       <a href="https://voluble-dodol-e89e06.netlify.app" target="_blank"><img src="./assets/tesla.png" alt=""></a>
                       <a href="https://starlit-phoenix-482e6b.netlify.app" target="_blank"> <img src="./assets/spline.png" alt=""></a>
                    </div>
                    <div class="col-2">
                       <h1>our sugestions</h1> 
                    
                    
                    <div class="line"></div>
                    <div class="text-box">
                        <p>Below you can see our work and project for entrepreuners and small companies!</p>
                            <p>Don't be left out ,get in contact with us</p>
                    </div>
                    </div>
                    <div class="col col-3">
                        <img src="./assets/foto1.jpg" alt="">
                        
                    </div>

                    
                    
                </div>
                <div class="testimonials">

                    <h2>Your Opinion</h2>
                    <div class="testimonials-div">
                        <div class="testimonials-div-img">
                            <img src="./assets/pic3.jpg" alt="">
                            </div>
                        <p>Since signing up with Digital Soul,
                             for the first time I was able to have a logo that represented my business vision, I was able to digitise
                            my orders, and my sales increased by twenty percent.
                            <br>
                            <br>

                            <small id="small">10/08/2020</small>
                        </p>
                    </div>
                    <div class="testimonials-div">
                        <div class="testimonials-div-img">
                            <img src="./assets/pic1.jpg" alt="">
                            </div>
                        <p>Before I tried to manage the social media myself, but I was wasting a lot of time
                            and thought it wasnt work it, until I left in the hands of this agency, they really know
                            what they are doing, now I have more time to spend with my family,
                            I recommend them.

                            <br>
                            <br>

                            <small id="small">14/10/2021</small>
                        </p>
                    </div>
                    <div class="testimonials-div">
                        <div class="testimonials-div-img">
                        <img src="./assets/pic2.jpg" alt="">
                        </div>
                        <p>I didnt know all the opportunities I had and I was losing by not investing
                            in a advertising agency, since I hired them my ads on my social networks are more creative 
                            and I have generated much more followers who recognise my brand 
                            and buy my products.
                            <br>
                            <br>

                            <small id="small">02/02/2022</small>
                        </p>
                        
                    </div>
                    
                </div>
                  
            </div>

            
        </section>

        
    </div>

    <footer>
        <div class="logo"><a href="#">Digital Soul</a></div>
        <div class="btn">infosoul@gmail.com</div>
    </footer> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js" ></script>
    <script src="app.js"></script>
   
</body>
</html>